<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ title or "App" }}</title>
    {% include "favicons.html" %}
    {% import "_macros.html" as macros %}
    {{ macros.include_css('layout') }}
    {% block style %}{% endblock %}
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{% if category == 'message' %}danger{% else %}{{ category }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="nav-account">
    {%- if current_user.is_authenticated %}
        <p>{{ user.email }} <br> <a href="/logout">Log out</a></p>
    {%- else %}
        <p>User {{ user.id }} <br> <a href="/login">Log in</a> <br> <a href="/register">Register</a></p>
    {%- endif %}
</div>
<div class="page">
    {% block content %}{% endblock %}
</div>

<script>
  var DEBUG = {% if config.DEBUG %}true{% else %}false{% endif %}
</script>
{{ macros.include_js('layout') }}
{% block script %}{% endblock %}
</body>
</html>
