body {
    background-color: #eee;
}

.emojione {
    height: 18pt !important;
    width: 18pt !important;
    background-image: initial !important;
}

.input-messages {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.commited-messages {
    background-color: #fff;
    border: 1px solid #eee;
    position: absolute;
    bottom: 280px;
    left: 50%;
    transform: translate(-50%, 0);
    max-height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}